## Analyse results from the sea level projections NetCDF files

In [3]:
import xarray as xr
import sys
sys.path.append('../code')
import func_misc as misc

In [5]:
AR5G85_ds = xr.open_dataset('../outputs/SeaLevelPDF_AR5_glo_rcp85.nc')
AR5G85_ds

<xarray.Dataset>
Dimensions:  (bin: 521, proc: 11, time: 95)
Coordinates:
  * time     (time) int64 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 ...
  * proc     (proc) object 'Global steric' 'Local ocean' 'Inverse barometer' ...
  * bin      (bin) float64 -20.0 -19.0 -18.0 -17.0 -16.0 -15.0 -14.0 -13.0 ...
Data variables:
    MAT_RES  (time, proc, bin) float64 ...
Attributes:
    options:        Computations were done with the following options:: Local...
    source_file:    This NetCDF file was built from the Probabilistic Sea Lev...
    creation_date:  2020-01-20 21:02

In [12]:
Perc  = (1,5,10,17,20,50,80,83,90,95,99,99.5,99.9)
perc = misc.perc_df(AR5G85_ds.MAT_RES[-1,10,:], Perc, AR5G85_ds.bin)
perc

             values
percentiles
1.0            41.0
5.0            48.0
10.0           51.0
17.0           54.0
20.0           55.0
50.0           64.0
80.0           74.0
83.0           75.0
90.0           80.0
95.0           85.0
99.0           97.0
99.5          101.0
99.9          110.0

In [9]:
AR5G85_ds.MAT_RES[-1,10,:]

<xarray.DataArray 'MAT_RES' (bin: 521)>
array([0., 0., 0., ..., 0., 0., 0.])
Coordinates:
    time     int64 2100
    proc     <U5 'Total'
  * bin      (bin) float64 -20.0 -19.0 -18.0 -17.0 -16.0 -15.0 -14.0 -13.0 ...
Attributes:
    units:      cm
    long_name:  This variable contains the pdfs of each sea levelcontributor ...